<!DOCTYPE html>
<html>
  <head>
  
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPLATE GAME PAGE</title>
	<link rel="icon" type="image/x-icon" href="../../site_images/HomeFavicon.ico">
    <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->
    <link href="../../style.css" rel="stylesheet" type="text/css" media="all">
	<style>
		html {
		  background-color: #d0a5c0;
			background: url(../background.png);
			background-size: 100px;
			background-attachment: fixed;
		}
	</style>
    
    
  </head>
  <body>
	{{component nav}}
  
  
    <main>    
		<div class = "main_content">
			<div class = "light_bg">
				<div class="flex_columns">
					<div>
						<h1>Game Title</h1>
						<h3>Release Date</h3>
						
						<p>Game Description
						</p>
						<br><br>
						
						<h3>Game Download</h3>
						
						<h3>Extras</h3>

					</div>
					<div>
						<p>Images<p>
					</div>
				</div>
				
				<h3>Related Blog Posts</h3>
				
			</div>
		</div>
	</main>
  </body>