<nav>
    <a href = "/index.html" class="topnav"><img src="/site_images/HomeIcon.png" alt="Home Icon">Home</a>
    <a href = "/about.html" class="topnav"><img src="/site_images/AboutIcon.png" alt="About Icon">About</a>
    <a href = "/blog/index.html" class="topnav"><img src="/site_images/BlogIcon.png" alt="Blog Icon">""Blog""</a>
    <a href = "/games/index.html" class="topnav"><img src="/site_images/GamesIcon.png" alt="Games Icon">Games I've Made</a>
    <div class="subnav">
        <a><img src="/site_images/MiscIcon.png" alt="Misc. Stuff Icon">Miscstuffs 🞃</a>
        <div class="subnav-content">
            <a href="/misc/guestbook.html">Guestbook</a>
            <a href="/misc/update_archive.html">Site updates</a>
            <a href="/misc/remixes/index.html">Rhythm Heaven Remixes</a>
        </div>
    </div>
</nav>
