<nav>
    <ul>
        <li><a href = "/index.html" class="topnav"><img src="/site_images/HomeIcon.png" alt="Home Icon">Home</a></li>
        <li><a href = "/about.html" class="topnav"><img src="/site_images/AboutIcon.png" alt="About Icon">About</a></li>
        <li><a href = "/blog/index.html" class="topnav"><img src="/site_images/BlogIcon.png" alt="Blog Icon">""Blog""</a></li>
        <li><a href = "/games/index.html" class="topnav"><img src="/site_images/GamesIcon.png" alt="Games Icon">Games I've Made</a></li>
        <li class="subnav"><img src="/site_images/MiscIcon.png" alt="Misc. Stuff Icon">Miscstuffs 🞃
            <ul class="subnav-content">
                <li><a href="/misc/guestbook.html">Guestbook</a></li>
                <li><a href="/misc/update_archive.html">Site updates</a></li>
                <li><a href="/misc/remixes/index.html">Rhythm Heaven Remixes</a></li>
                <li><a href="/misc/acnl/index.html">ACNL</a></li>
            </ul>
        </li>
    </ul>
</nav>
