<!DOCTYPE html>
<html>
  <head>
  
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{0}</title>
	<link rel="icon" type="image/x-icon" href="{1}">
    <link href="{2}style.css" rel="stylesheet" type="text/css" media="all">
	<style>
		html {
			background-color: #d0a5c0;
			background: url({3});
			background-size: 100px;
			background-attachment: fixed;
		}
	</style>
    
    
  </head>
  <body>
	<nav>
      <ul>
        <li><a href = "{2}index.html"><img src="{2}site_images/HomeIcon.png">Home</a></li>
        <li><a href = "{2}about.html"><img src="{2}site_images/AboutIcon.png">About </a></li>
        <li><a href = "{2}blog/index.html"><img src="{2}site_images/BlogIcon.png">""Blog""</a></li>
        <li><a href = "{2}games/index.html"><img src="{2}site_images/GamesIcon.png">Games I've Made</a></li>
      </ul>
    </nav>
  
  
    <main>    
		{4}
	</main>
  </body>