<h1>Blog!</h1>
  
<p>
Welcome to my blog-ish thing! Here I plan to write about what I'm doing (or whatever I find interesting), hopefully in a way others find interesting too!
</p>
<p>
This page contains the latest posts. If you want, you can <a href="browse/blogpost.html">browse all posts</a> or <a href="browse/index.html">browse by tag</a><p>


<h2>Latest Posts</h2>

<div class = "flex">
	{0}
</div>

<h2>Planned Posts</h2>
<ul>
	<li>My time playing Animal Crossing New Leaf, since there's probably so much it won't fit in the 3DS post</li>
	<li>"Making of" pages for all the games I've made (there's not many)</li>
	<li>My Minecraft world, where I started at the earliest version and slowly updated</li>
	<li>Cool software I find</li>
	<li>Switch modding/theming</li>
</ul>